#!/usr/bin/env -S docker stack deploy --with-registry-auth proxy -c

version: "3.9"

# NOTE deploy
# docker stack deploy --with-registry-auth -c docker-stack.yaml proxy
# docker node update --label-add proxy=true <NODE-NAME>

services:
  proxy:
    image: ghcr.io/zerocluster/proxy
    init: true
    stop_grace_period: 5m

    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
      labels:
        nginx.1: tcp:443?serverName=proxy.softvisio.net&upstreamPort=80

    command: run

    configs:
      - { source: env.yaml, target: /var/local/package/env.yaml }

    networks: [main]

    ports:
      - { published: 8085, target: 8085 }

    volumes:
      - { type: tmpfs, target: /dev/shm, tmpfs: { size: 1073741824 } }

    build: .

configs:
  env.yaml: { file: env.yaml }

networks:
  main: { external: true }
